<div class="task-list-container">
  @if (!this.selectedUser) {
    <h3 class="title">Please, select a user to start.</h3>
  }
  <mat-form-field class="select-user">
    <mat-label>User</mat-label>
    <mat-select [(value)]="selectedUser" (selectionChange)="userChanged()">
      @for(user of users(); track user.id) {
        <mat-option [value]="user">{{ user.name }} ({{ getUserTypeName(user.type) }})</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if(selectedUser) {
    <div class="task-container">
      <mat-card class="task-box">
        <mat-card-title class="card-title">Assigned tasks</mat-card-title>
        <i class="info">Drag and drop tasks to assign or unassign them.</i>
        <div class="task-list" cdkDropList #assignedList="cdkDropList" [cdkDropListData]="assignedTasks()" [cdkDropListConnectedTo]="[availableList]" (cdkDropListDropped)="drop($event, true)">
          <mat-list>
            @for(task of assignedTasks(); track task.id) {
              <app-list-item [isDirty]="isTaskDirty(task.id, true)" [task]="task"></app-list-item>
            }
          </mat-list>
          <mat-paginator class="pagination" [pageIndex]="currentAssignedTaskPageIndex" [length]="assignedTaskCount()" [pageSize]="10" [hidePageSize]="true" (page)="onAssignedListPageChange($event)"></mat-paginator>
        </div>
      </mat-card>
      <mat-card class="task-box">
        <mat-card-title class="card-title">Available tasks</mat-card-title>
        <i class="info">Drag and drop tasks to assign or unassign them.</i>
        <div class="task-list" cdkDropList #availableList="cdkDropList" [cdkDropListData]="availableTasks()" [cdkDropListConnectedTo]="[assignedList]" (cdkDropListDropped)="drop($event, false)">
          <mat-list>
            @for(task of availableTasks(); track task.id) {
              <app-list-item [isDirty]="isTaskDirty(task.id, false)" [task]="task"></app-list-item>
            }
          </mat-list>
          <mat-paginator class="pagination" [pageIndex]="currentAvailableTaskPageIndex" [length]="availableTaskCount()" [pageSize]="10" [hidePageSize]="true" (page)="onAvailableListPageChange($event)"></mat-paginator>
        </div>
      </mat-card>
    </div>
  }
  @if (selectedUser) {
    <div class="submit-container">
      <button mat-raised-button (click)="submitTasks()">Submit</button>
    </div>
  }
</div>
