@use '../../../variables.scss' as variables;

.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .select-user {
    margin-top: 1rem;
    min-width: 20rem;
  }

  .task-container {
    width: 80%;
    display: flex;
    gap: 1rem;

    .task-box {
      flex: 1;
      min-height: 400px;
      padding: 1rem;

      .info {
        color: variables.$grey-color;
        text-align: center;
      }

      .task-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .pagination {
          background-color: transparent;
        }
      }

      .card-title {
        text-align: center;
        color: variables.$primary-color;
      }
    }
  }

  .submit-container {
    margin-top: 2rem;
  }
}
