@use '../../../variables.scss' as variables;

.list-item {
  height: fit-content !important;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;

  .task-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 1.1rem;

      p {
        color: variables.$secondary-color;
      }

      i {
        font-size: 1rem;
        color: variables.$grey-color;
      }
    }

    .stars {
      padding-left: 0.5rem;
      font-size: 1.2rem;
    }
  }

  .additional-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.cdk-drag-preview {
  @extend .list-item;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .dirty-item.mat-mdc-card {
  animation: blink 1s infinite;
  border: 2px dashed orange;
}

@keyframes blink {
  0%   { background-color: #fff3e0; }
  50%  { background-color: #ffe0b2; }
  100% { background-color: #fff3e0; }
}
